In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data_loc = r'csv\data.csv'
data = pd.read_csv(data_loc)

In [3]:
data.head()

   n_paths  n_points    class
0        5       883      car
1        4       596     fish
2        8       571    house
3        3       575     tree
4        5       586  bicycle

In [4]:
classes = ['car', 'fish', 'house', 'tree', 'bicycle', 'guitar', 'pencil', 'clock']
X = data.drop( columns= 'class')
y = data['class']

In [5]:
y

0            car
1           fish
2          house
3           tree
4        bicycle
          ...
16257       tree
16258    bicycle
16259     guitar
16260     pencil
16261      clock
Name: class, Length: 16262, dtype: object

In [6]:
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    random_state= 23,
    test_size= .2,
    stratify= y
)

In [8]:
knn = KNeighborsClassifier(n_neighbors= 8)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=8)

In [9]:
knn.score(X_test, y_test)

c:\Users\Aymane\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.3476790654780203